<div align="center">

    <form  [formGroup]="allocationForm" (ngSubmit)="onAllocate()">
    <h1 align="center"> Project Allocation Page</h1>
                    <label>Projects:</label>
                <select name="projectId" formControlName="projectId" (change)="project">
                      
                        <option *ngFor="let pro of project" value={{pro.projectId}}>{{pro.projectName}}</option>
                  
                </select><br>
                 <div>
                <label>Role:</label>
                    <select name="roleId"  formControlName="roleId">
                          
                            <option *ngFor="let r of role" value={{r.roleId}}>{{r.roleName}}</option>
                
                    </select>
                </div>
             <label>Location:</label>
                <div>
                    <div class="custom-control custom-radio">   
                         <input type="radio"  formControlName="location" value="Onsite"> Onsite
                          <input type="radio" formControlName="location" value="Offshore" checked> Offshore
                        
                        
                        
                    </div>
                </div>  
                <label> Employees:</label>
                <select name="employeeId" formControlName="employeeId">
                  
                          
                            <option *ngFor="let emp of employeees"  value={{emp.employeeId}}>{{emp.employeeName}} </option>
                        
                    </select>
                    
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                </form>
                </div>
                



